env:
  browser: true

extends: airbnb-base

rules:
  arrow-body-style: off
  arrow-parens: off
  comma-dangle: ["error", "never"]
  consistent-return: off
  func-names: off
  guard-for-in: off
  indent: ["error", "tab"]
  no-await-in-loop: off
  no-console: off
  no-continue: off
  no-mixed-operators: off
  no-multi-assign: off
  no-multiple-empty-lines: ["error", { "max": 1, "maxEOF":  0, "maxBOF": 0 }]
  no-param-reassign: off
  no-plusplus: off
  no-restricted-syntax: off
  no-shadow: off
  no-tabs: off
  no-use-before-define: off
