extends: airbnb-base

env:
  browser: true

parserOptions:
  ecmaVersion: 2022

rules:
  arrow-parens: ["error", "as-needed"]
  comma-dangle: ["error", "never"]
  consistent-return: off
  func-names: off
  guard-for-in: off
  import/default: error
  import/extensions: ["error", "always"]
  import/prefer-default-export: off
  indent: ["error", "tab"]
  newline-before-return: error
  no-await-in-loop: off
  no-confusing-arrow: off
  no-console: off
  no-continue: off
  no-mixed-operators: off
  no-multiple-empty-lines: ["error", { "max": 1, "maxEOF":  0, "maxBOF": 0 }]
  no-param-reassign: off
  no-plusplus: off
  no-restricted-syntax: off
  no-shadow: off
  no-tabs: ["error", { allowIndentationTabs: true }]
  no-use-before-define: off
  quotes: ["error", "single"]
